{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}
    <div class="home-content">
        <h1>Hello {{user.username}}! Here are your notes:</h1>

        <ul class="notes-list">
            {% for note in user.notes %}
                <li class="note-item">
                    <div class="note-actions">
                        <a href="#" class="note-action" onclick="deleteNote('{{ note.id }}')">❌</a>
                        <a href="#" class="note-action">✏️</a>
                    </div>
                    <span class="note-text">
                        <p class="note-title">
                            {{ note.title }}
                        </p>
                    
                        <p>
                            {{ note.content }}
                        </p>
                        <p class="note-date">
                            {{note.date}}
                        </p>
                    </span>
                </li>
            {% endfor %}
        </ul>

        <div class="add-note-form">
            <h2>Add note</h2>
            <form method="POST" action="#" class="form">
                <div class="form-group">
                    <label for="text">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title" required>
                </div>
                
                <div class="form-group">
                    <label for="text">Content</label>
                    <input type="text" id="content" name="content" class="form-control" placeholder="Content of the note" required>
                </div>

                <button type="submit" class="btn btn-primary">Add note</button>
            </form>
        </div>

        

        <!-- <div class="edit-note-form" style="display: none;">
            <h2>Upraviť poznámku</h2>
            <form method="POST" action="#">
                <input type="hidden" name="note_id" id="edit-note-id">
                <textarea name="note_text" id="edit-note-text" class="form-control"></textarea>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div> -->
    
{% endblock %}